[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ""
mysqlclient = ""
gunicorn = "*"
asgiref = "*"
certifi = "*"
distlib = "*"
django-cuser = "*"
django-modeltranslation = "*"
django-tinymce = "*"
filelock = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
sqlparse = "*"
typing-extensions = "*"
tzdata = "*"
virtualenv = "*"
virtualenv-clone = "*"

[dev-packages]

[requires]
python_version = "3.11"
