@media screen and (min-width: 601px) {
  h1 {
    font-size:28px;
  }
  h4 {
    font-size:18px;
  }
  .footer-col{
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 0vh;
  }
  .numbers-col{
    flex: 0 0 33%;
    max-width: 33%;
  }
  .numbershomepage{
    font-size:50px;
  }
  .p-project {
    font-size:18px;
  }
  .div-project{
    height: 75%;
  }
  .div-project-specs{
    margin-top:10vh;
  }
}
  
@media screen and (max-width: 600px) {
  h1 {
    font-size:5vw;
  }
  h4 {
    font-size:3.5vw;
  }
  .footer-col{
    flex: "";
    max-width: "";
    margin-bottom: 5vh;
  }
  .numbers-col{
    flex: "";
    max-width: "";
    margin-bottom: 5vh;
  }
  .numbershomepage{
    font-size:10vw;
  }
  .p-project {
    font-size:3.5vw;
  }
  .div-project-specs{
    margin-top:3vh;
  }
}


@media screen and (max-width: 991px) {  
  .slash{
    display: none;
  }
  .nav-line{
    border-bottom: 1px solid rgba(0,0,0,.3);
  }
  .p-homepage{
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .specs-project{
    margin-left:10vw;
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .slash{
    display: "";
  }
  .nav-line{
    border-bottom: none;
  }
  .p-homepage{
    margin-left: 30vw;
    margin-right: 30vw;
  }
  .specs-project{
    margin-left:7vw;
    width: 40%;
  }
}

/* Masonry on large screens */
@media only screen and (min-width: 1451px) {
  .masonry {
    column-count: 4;
  }
  .project-text, .vignette-text{
    font-size: 1vw;
  }
  .project.is-moved {
    transform: translate(500%, 0%);
  }  
  .vignette {
    width: 17%;
  }
  .vignette-image {
    height: 17vw;
  }
  .width33member{
    width: 35%;
  }
  .width66member{
    width: 65%;
  }
  .member-image2{
    display:none;
  }
  .service{
    width:33%;
    margin-left: 16%;
  }
  .serviceimage{
    margin-left: 16%;
  }
}

/* Masonry on large screens */
@media only screen and (max-width: 1450px) and (min-width: 1301px) {
  .masonry {
    column-count: 4;
  }
  .project-text, .vignette-text{
    font-size: 1vw;
  }
  .project.is-moved {
    transform: translate(500%, 0%);
  }  
  .vignette {
    width: 17%;
  }
  .vignette-image {
    height: 17vw;
  }
  .width33member{
    width: 40%;
  }
  .width66member{
    width: 60%;
  }
  .member-image{
    width: 58vw;
  }
  .member-image2{
    display:none;
  }
  .service{
    width:33%;
    margin-left: 16%;
  }
  .serviceimage{
    margin-left: 16%;
  }
}

/* Masonry on large screens */
@media only screen and (max-width: 1300px) and (min-width: 1149px) {
  .masonry {
    column-count: 4;
  }
  .project-text, .vignette-text{
    font-size: 1vw;
  }
  .project.is-moved {
    transform: translate(500%, 0%);
  }  
  .vignette {
    width: 17%;
  }
  .vignette-image {
    height: 17vw;
  }
  .width33member{
    width: 45%;
  }
  .width66member{
    width: 55%;
  }
  .member-image{
    width: 58vw;
    top:10vh;
  }
  .member-image2{
    display:none;
  }
  .service{
    width:33%;
    margin-left: 16%;
  }
  .serviceimage{
    margin-left: 16%;
  }
}

/* Masonry on large screens */
@media only screen and (max-width: 1150px) and (min-width: 1023px) {
  .masonry {
    column-count: 4;
  }
  .project-text, .vignette-text{
    font-size: 1vw;
  }
  .project.is-moved {
    transform: translate(500%, 0%);
  }  
  .vignette {
    width: 17%;
  }
  .vignette-image {
    height: 17vw;
  }
  .width33member{
    width: 50%;
  }
  .width66member{
    width: 50%;
  }
  .member-image{
    width: 58vw;
    top:10vh;
  }
  .member-image2{
    display:none;
  }  
  .service{
    width:33%;
    margin-left: 16%;
  }
  .serviceimage{
    margin-left: 16%;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
  .project-text, .vignette-text{
    font-size:1.5vw;
  }
  .project.is-moved {
    transform: translate(385%, 0%);
  }  
  .vignette {
    width: 30%;
  }
  .vignette-image {
    height: 30vw;
  }
  .member-image2{
    margin-bottom: 4vw;
  }
  .member-image{
    display:none;
  }
  .service{
    width:33%;
    margin-left: 16%;
  }
  .serviceimage{
    margin-left: 16%;
  }
  
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
  .project-text, .vignette-text{
    font-size:2.5vw;
  }
  .project.is-moved {
    transform: translate(250%, 0%);
  }
  .vignette {
    width: 30%;
  }
  .vignette-image {
    height: 29vw;
  }
  .member-image{
    display:none;
  }  
  .member-image2{
    margin-bottom: 4vw;
  }
  .service{
    width:89%;
    margin-left: 5%;
  }
  .serviceimage{
    margin-left: 5%;
  }
  .new{
    width:85%;
  }
  .newshortdescription{
    width:90%;
  }
  .newfirst{
    width:100%;
  }
  .newfirstimage{
    width:85%;
  }
  .newfirstshortdescription{
    width:90%;
  }
  .newfirstimagesize{
    width: 73vw;
    height: 45vw;
  }
  .newfirstext{
    width: 85%;
  }
  .newimagesize{
    width: 73vw;
    height: 45vw;
  }
}
@media only screen and (max-width: 539px) {
  .project-text, .vignette-text{
    font-size:4vw;
  }
  .project.is-moved {
    transform: translate(120%, 0%);
  }
  .vignette {
    width: 50%;
  }
  .vignette-image {
    height: 48vw;
  }
  .member-image{
    display:none;
  }
  .member-image2{
    margin-bottom: 4vw;
  }
  .service{
    width:89%;
    margin-left: 5%;
  }
  .serviceimage{
    margin-left: 5%;
  }
  .new{
    width:85%;
  }
  .newshortdescription{
    width:90%;
  }
  .newfirst{
    width:100%;
  }
  .newfirstimage{
    width:85%;
  }
  .newfirstshortdescription{
    width:90%;
  }
  .newfirstimagesize{
    width: 73vw;
    height: 45vw;
  }
  .newfirstext{
    width: 85%;
  }
  .newimagesize{
    width: 73vw;
    height: 45vw;
  }
}
