{% include 'base.html' %}
{% include 'navbar.html' %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<body>
    <div class="width100 div-project-specs">
       
        {% for new in news %}
        {% if new.delay == 0 %}
            <a href="/{{LANGUAGE_CODE}}/news/{{new.id}}" style="color: transparent;">
                <div class="newfirst newsfirst animate__animated animate__zoomIn animate__delay-{{new.delay}}s" >
                    <div class="newfirstimage" >
                        <img src="{{new.image}}"  class="newfirstimagesize" />
                    </div>
                    <div class="newfirstext" >
                        <small class="gray">{{new.date}}</small><br>
                        <h4 class="newfirsttitle">{{new.title}}</h4><br>
                        <p class="newfirstshortdescription">{{new.short_description}}</p>
                    </div>
                </div>
            </a>
        {% else %}
            <a href="/{{LANGUAGE_CODE}}/news/{{new.id}}"  style="color: transparent;">
                <div class="new animate__animated animate__zoomIn animate__delay-{{new.delay}}s">
                    <div class="newimage" >
                        <img src="{{new.image}}"  class="newimagesize"/>
                    </div>
                    <div class="margin-top2vh">
                        <small class="gray">{{new.date}}</small>
                        <h4 class="newtitle">{{new.title}}</h4>
                        <p class="newshortdescription">{{new.short_description}}</p>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
        
    </div>
</body>

{% include 'footer.html' %}

{% include 'script.html' %}