{% include 'base.html' %}
{% include 'navbar.html' %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<body>

    <h1 class="animate__animated animate__zoomIn center weight600 brown uppercase margin-top4vh">{{project.title}}</h1> <!-- animate__backInLeft -->
    <h4 class="animate__animated animate__zoomIn center weight600 darkbrown uppercase">{{project.type.name}}</h4> <!-- animate__backInRight -->
    
    <div class="div-project width100 margin-top2vh">
        <img class="width100 max-height100 cover animate__animated animate__zoomIn" src="{{project.image}}" />
    </div>

    <!--<div class="swiper mySwiper margin-top2vh">
        <div class="swiper-wrapper">
        {% for project in projects %}
            <div class="swiper-slide home-swiper">
              <img src="{{project.image}}" alt="" class="animate__animated"/>
            </div>
        {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>-->

    <div class="width100 div-project-specs">
        <div class="specs-project inline">
            <h4 class="p-project-border uppercase">{% translate "technical specifications" %} </h4>
            {% if project.owner != None %}
                <p class="p-project"><span class="bold capitalize">{% translate "owner" %}: </span>{{project.owner}}</p>
            {% endif %}
            {% if project.cost != None %}
                <p class="p-project"><span class="bold capitalize">{% translate "cost" %}: </span>{{project.cost}}</p>
            {% endif %}
            <p class="p-project"><span class="bold capitalize">{% translate "location" %}: </span>{{project.location}}</p>
            {% if project.begin != None %}
                <p class="p-project"><span class="bold capitalize">{% translate "begin" %}: </span>{{project.begin}}</p>
                {% if project.end != None %}
                    <p class="p-project"><span class="bold capitalize">{% translate "end" %}: </span>{{project.end}}</p>
                {% else %}
                    <p class="p-project"><span class="bold capitalize">{% translate "end" %}: </span>{% translate "Under Construction" %}</p>
                {% endif %}
            {% else %}
                <p class="p-project"><span class="bold capitalize">{% translate "begin" %}: </span>{% translate "In Planning" %}</p>
            {% endif %}
            {% if project.partners != None %}
                <p class="p-project"><span class="bold capitalize">{% translate "partners" %}: </span>{{project.partners}}</p>
            {% endif %}
            <p class="p-project"><span class="bold capitalize">{% translate "description" %}: </span>{{project.description}}</p>
        </div>
        <div class="specs-project inline margin-left8vw">
            <div id="map" class="maps-project"></div>
        </div>
    </div>

    <div id="gallery-project" class='gallery-project masonry masonry-a gallery-transition'>
        {% for project_photo in project_gallery %}
            {% if project_photo.image %}
                <div class="project">
                    <img class="project-image" src="{{project_photo.image}}"/>
                    <div class="project-overlay">
                        <div class="project-text"></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</body>

{% include 'footer.html' %}

{% include 'script.html' %}