{% include 'base.html' %}
{% include 'navbar.html' %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<body onload="loadGallery('In')">
    {% for role in roles %}
        <h1 class="animate__animated animate__zoomIn center weight600 brown uppercase margin-top4vh roleName">{{role.name}}</h1>
        {% for line in role.lines %}
            <div class='team'><!--column-count{{role.line_length}}-->
                {% for member in team %}
                    {% if role.id == member.role.id %}
                        {% if member.image %}
                            <a href="/{{LANGUAGE_CODE}}/team/{{member.id}}"  style="color: transparent;">
                                <div class="vignette animate__animated animate__fadeInRight animate__delay-{{member.delay}}s radius100">
                                    <img class="vignette-image blackandwhite" src="{{member.image}}"/>
                                    <div class="vignette-overlay">
                                        <div class="vignette-text blackandwhite">
                                            {{member.name}} {{member.surname}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="prova">
     
    </div>
</body>

{% include 'footer.html' %}

{% include 'script.html' %}